.empty {
  @include flex(center, center, 0.75rem, column);
  padding: 2.5rem 1rem;
  text-align: center;
}

.icon {
  font-size: 2.25rem;
}

.title {
  @include font(1.0625rem, 600, 1.375rem, var(--text-primary));
}

.description {
  @include font(0.875rem, 400, 1.375rem, var(--text-secondary));
  max-width: 17rem;
}
